input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}
input:focus {
    outline: none;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 15%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-top:3%;
}


li{
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:grey;
    font-weight: bold;
    padding-top: 1%;
    letter-spacing: 2px;
}

